<mat-toolbar>
    <span>Seller Dashboard</span>
</mat-toolbar>
<mat-card class="my-card">
    <mat-card-content>
        <!-- <label>Product Name: </label> -->
        <mat-form-field appearance="legacy">
            <mat-label>Product Name</mat-label>
            <mat-select [formControl]="productSelectControl" required>
                <mat-option>--Select--</mat-option>
                <mat-option *ngFor="let product of products" [value]="product.id">{{product.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="getProduct()" color="primary" class="button-row"
            [disabled]="!productSelectControl.valid">Get</button>
    </mat-card-content>
</mat-card>
<mat-toolbar>
    <span>Product Details</span>
</mat-toolbar>
<mat-card class="my-card">
    <mat-card-content>
        <form class="my-form" [formGroup]="productForm">
            <div class="row">
                <div class="col-5">
                    <mat-form-field class="full-width">
                        <mat-label>Product Name</mat-label>
                        <input matInput placeholder="Product name" name="pname" appearance="outline"
                            formControlName="name" required maxlength="30" minlength="5">
                        <mat-hint align="end">{{productForm.controls['name'].value?.length}} / 30</mat-hint>
                        <mat-hint align="start">Should have minimum 5 and maximum 30 characters</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Short Description</mat-label>
                        <input matInput placeholder="Short Description" name="shortdescription"
                            formControlName="description" required>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Detailed Description</mat-label>
                        <input matInput placeholder="Detailed Description" name="detaileddescription"
                            formControlName="summary" required>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="full-width">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category" required>
                            <mat-option>- Category -</mat-option>
                            <mat-option *ngFor="let category of categories" [value]="category">
                                {{category.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Starting Price</mat-label>
                        <input type="number" matInput placeholder="Starting Price" name="price"
                            formControlName="price" required min="1">
                        <span matPrefix>$ </span>
                        <span matSuffix>.00</span>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Bid End Date</mat-label>
                        <input matInput [matDatepicker]="bidenddate" placeholder="Bid End Date"
                            formControlName="bidEndDate" required [min]="today">
                        <mat-datepicker-toggle matSuffix [for]="bidenddate"></mat-datepicker-toggle>
                        <mat-datepicker #bidenddate></mat-datepicker>
                    </mat-form-field>
                    <mat-card-actions class="text-right">
                        <button mat-raised-button (click)="Delete()" color="primary"
                            [disabled]="!productForm.valid">Delete</button>
                        <button mat-raised-button (click)="Update()" color="primary"
                            [disabled]="!productForm.valid">Update</button>
                    </mat-card-actions>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>
<mat-toolbar>
    <span>Bids</span>
</mat-toolbar>
<mat-card class="my-card">
    <mat-card-content>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" class="text-center">

                <!-- bidAmount Column -->
                <ng-container matColumnDef="bidAmount">
                    <th mat-header-cell *matHeaderCellDef> Bid Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.bidAmount}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <!-- mobile Column -->
                <ng-container matColumnDef="mobile">
                    <th mat-header-cell *matHeaderCellDef> Mobile </th>
                    <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-card-actions>
                            <button mat-raised-button (click)="Accept()" color="primary">Accept</button>
                            <button mat-raised-button (click)="Reject()" color="primary">Reject</button>
                        </mat-card-actions>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-raised-button (click)="Save()" color="primary">Save</button> -->
    </mat-card-actions>
</mat-card>